<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Sala</title>
<style>
body { text-align: center; font-family: sans-serif; background: url('https://share.google/K03P5KyhpFTigjOaq') no-repeat center center fixed; background-size: cover; color: #fff; display:flex; flex-direction:column; justify-content:center; align-items:center; height:100vh; }
.container { background: rgba(0,0,0,0.7); padding:30px; border-radius:15px; }
</style>
</head>
<body>
<div class="container">
<h1>Bem-vindo, {{ nick }}</h1>
<p>ID da Sala: {{ id_sala }}</p>
<p>Senha: {{ senha }}</p>
</div>
</body>
</html>
